tqdm
snoop
pympler
# vllm
accelerate==1.7.0
bitsandbytes
streamlit
autopep8
plotly
datasets
python-Levenshtein
fuzzywuzzy
openai
transformers
logits_processor_zoo
python-dotenv
huggingface_hub
tabulate
matplotlib
PyYAML
